body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#pet-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pet {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: left;
}

.pet img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
